<div>
    <div>Add Info:</div>
    <br>
    <label for="newst">Title : </label>
    <input type="text" #newst id="newst" required placeholder="Write your title!">
    <br>
    <br>
    <label for="newsc">Cateogry: </label>
    <select #newsc id="newsc" required>
        <option>politics</option>
        <option>bollywood</option>
        <option>sports</option>
    </select>
    <br>
    <br>
    <label for="newsd">Description: </label>
    <textarea #newsd id="newsd" required placeholder="Write your text here"></textarea>
    <br>
    <br>
    <label for="newsauth">Author: </label>
    <input type="text" #newsauth id="newsauth" required placeholder=".Write here.">
    <br>
    <br>
    <label for="newsdate">Publish Date: </label>
    <input type="string" #newsdate id="newsdate" required>
    <br>
    <br>
    <button type="button" (click)="add(newst.value,newsc.value,newsauth.value,newsd.value,newsdate.value) ; newst.value='';newsc.value='' ;newsauth.value='' ;newsdate.value='' ;newsd.value='' ">Add</button>
</div>
